
<hr class="ligne-horizontale>

.ligne-horizontale{
border:none;
border-top:1px solid black;
margin:10px 0;
}


.souligne{
text-decoration: underline;
}


.cite{
font-style: italic;
}


.square {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	width:1500px;
	height:200px;
	border:3px solid black;
	background:red;
    font-size: 4em;
	font-weight: bold;
    text-align: center;
}


.square1 {
	display:flex;
	align-items:center;
	width:1750px;
	height:20px;
	border:1px solid black;
	background:orange;
	margin-left:1.5em;
	padding:30px;
}


.square2 {
	display:flex;
	align-items:center;
	width:1750px;
	height:0px;
	border:1px solid black;
	background:orange;
	margin-left:3em;
	padding:30px;
	font-style:italic;
}


.texte::first-letter {
	font-size: 40px;
	color: red;
	font-weight: bold;
  }
  


  body {
	background-image: url("image\ du\ tp4.jpeg");
	background-repeat: repeat;
  }
  


  .gradient {
	background-image: linear-gradient(to right, #ff8a00, #da1b60);
  }
  

