body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(95,95,95,255);
}

#zone{
    margin-top: 5x;
    width: 85%;
    height: 900px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;

}
#zone #gauche{
    background-color:rgba(64,61,62,255);
    width: 25%;
    height: 900px;
}
input{
    width: 85%;
    height: 4%;
    margin:5% ;
    margin-top: 15%;
    background-color:  rgba(95,95,95,255);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#EnseiSalClassMod{
    width: 85% ;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.classEnseiSalClassMod{
    width: 45%;
    height: 110px ;
    border: 1px solid black;
    margin-right: 2%;
    background-color: rgba(154,154,154,255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
#enseignant{
}

.iconetNombre{
    width: 90%;
    height: 30px;
}
.nomEtPlus{
    width: 90%;
    height: 30px;
    color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 3%;
    font-size: 90%;
}
.nomEtPlus p{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 40%;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#iconSalle, #iconModule, #iconClasse, #iconEnseign{
    width: 35%;
    margin-left: 5px;
    height: 30px;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#iconSalle{
    background-color: rgb(6, 151, 6);
}
#iconModule{
    background-color: red;
}
#iconClasse{
    background-color: orange;
}
#iconEnseign{
    background-color: rgb(0, 166, 255);
}

#zone #droite {
    background-color: #242122;
    width: 75%;
    height: 900px;
    display: flex;
    flex-direction: column;
}
select{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin: 5%
}
option{
    font-size: 19px;
    font-weight:100;
}

header{                
    width: 100%;
    height: 170px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#planingEtBouton{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#planing{
    margin-left: 30px;
    display: flex;
   

}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 2%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
#zoneHeure{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color:rgba(64,61,62,255);
}
#zoneHeure ol{
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 5%;
    color: white;
}
#zoneHeure ol li{
    text-decoration: none;
    display: flex;
}

#zonetableau{
    width: 100%;
    height: 680px;
    border: none;
    display: flex;
    justify-content: space-between;
}

#jours{
    width: 20%;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

.jour{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#affichePlaning{
    width: 80%;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.planing{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 120px;
    background-color:rgba(94,103,103,255);
    border: 1px solid grey;

}
.horaire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    color: white;
}
.horaire p{
    margin-top: -10px;
    margin-top: -10px;
}


#horaire2{
    width: 20%;
    height: 100px;
    background-color: red;
}
#horaire3{
    width: 30%;
    height: 100px;
    background-color: rgb(0, 255, 13);
}

#zoneformulaire{
    position: absolute;
    z-index: 999;
    width: 45%;
    height: 550px;
    background-color: rgba(128, 128, 128, 0.705);
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 46%;
    display: none;

}

#zoneformulaire #header, #footer{
    width: 100%;
    background-color: black;
    height: 60px;

    
}

#zoneformulaire #form{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-between;
}
#zoneformulaire #form #coteLabel{
    width: 30%;
    height: 430px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
#zoneformulaire #form #coteSelect{
    width: 65%;
    height: 430px;
    border: 3px solid black;
}
#zoneformulaire #form #select{
    margin-bottom: -1%;
}
#zoneformulaire #form #label{
    margin-bottom: 0%;
    margin-top: 15.5%;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    font-size: 18px;
}